# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Django
db.sqlite3
*.log

# Node
node_modules/

# Build files
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db